# global owners: used as fallback if nobody owns the code

# cosmwasm contracts
/contracts/cosmwasm-vm @redlarva @ibrizsabin 

# javascore
/contracts/javascore @redlarva @ibrizsabin

# tests
/test  @redlarva @ibrizsabin 
