PRIVATE_KEY=0xe7f654b797e30f709183d1028dcec6548be88cbe5f181ddb0f51f0d3203023d8
OWNER_ADDRESS=0xc92e83F1b446e649b3bD284DD9CD6cF8f2bd8250
PROTOCOL_FEE=0
ADMIN=0xc92e83F1b446e649b3bD284DD9CD6cF8f2bd8250

#XCALL DEPLOYMENTS
LOCAL_NID=
LOCAL_RPC_URL=http://127.0.0.1:8545
LOCAL_XCALL=

#MAINNET DEPLOYMENTS

#ETHEREUM
ETHERUM_RPC_URL=
ETHEREUM_NID=*
ETHEREUM_XCALL=

#BINANCE
BSC_RPC_URL=
BSC_NID=
BSC_XCALL=

#AVALANCHE
AVALANCHE_RPC_URL=




BSCTEST_RPC_URL=https://data-seed-prebsc-1-s1.binance.org:8545
SEPOLIA_RPC_URL=https://eth-sepolia.g.alchemy.com/v2/JxPqX6PhmfdYfoQ1avgoBFwCxNUCKzu2
BASE_GOERLI_RPC_URL=https://goerli.base.org
OPTIMISM_GOERLI_RPC_URL=https://goerli.optimism.io
ARBITRUM_GOERLI_RPC_URL=https://goerli-rollup.arbitrum.io/rpc
FUJI_RPC_URL=https://api.avax-test.network/ext/C/rpc
CELOTEST_RPC_URL=https://alfajores-forno.celo-testnet.org
POLYGON_MUMBAI_RPC_URL=https://rpc.ankr.com/polygon_mumbai

BSC_RPC_URL=
ETHERUM_RPC_URL=
BASE_RPC_URL=
OPTIMISM_RPC_URL=
ARBITRUM_RPC_URL=
AVALANCHE_RPC_URL=

#DIFFERENT CHAINS NID
LOCAL_NID=local

BSCTEST_NID=0x61.bsc
SEPOLIA_NID=
BASE_GOERLI_NID=0x14a33.base
OPTIMISM_GOERLI_NID=
ARBITRUM_GOERLI_NID=
FUJI_NID=0xa869.fuji
CELOTEST_NID=0xaef3.celo
POLYGON_MUMBAI_NID=0x13881.mumbai

BSC_NID=*
ETHEREUM_NID=*
BASE_NID=*
OPTIMISM_NID=*
ARBITRUM_NID=*
AVALANCHE_NID=*


#WORMHOLE RELAYER ADDRESSES
LOCAL_WORMHOLE_RELAYER=0xA3cF45939bD6260bcFe3D66bc73d60f19e49a8BB
FUJI_WORMHOLE_RELAYER=0xA3cF45939bD6260bcFe3D66bc73d60f19e49a8BB
BSCTEST_WORMHOLE_RELAYER=0x80aC94316391752A193C1c47E27D382b507c93F3
BASE_GOERLI_WORMHOLE_RELAYER=0xea8029CD7FCAEFFcD1F53686430Db0Fc8ed384E1
CELOTEST_WORMHOLE_RELAYER=0x306B68267Deb7c5DfCDa3619E22E9Ca39C374f84

#LAYER ZERO RELAYER ENDPOINT
LOCAL_LAYERZERO_RELAYER=0xA3cF45939bD6260bcFe3D66bc73d60f19e49a8BB
FUJI_LAYERZERO_RELAYER=0x93f54D755A063cE7bB9e6Ac47Eccc8e33411d706
BSCTEST_LAYERZERO_RELAYER=0x6Fcb97553D41516Cb228ac03FdC8B9a0a9df04A1
BASE_GOERLI_LAYERZERO_RELAYER=0x6aB5Ae6822647046626e83ee6dB8187151E1d5ab
CELOTEST_LAYERZERO_RELAYER=0xae92d5aD7583AD66E49A0c67BAd18F6ba52dDDc1

#Wormhole Chain ID
FUJI_CHAIN_ID=6
BSCTEST_CHAIN_ID=4
BASE_GOERLI_CHAIN_ID=30
CELOTEST_CHAIN_ID=14

#LAYERZERO CHAINID
FUJI_LAYERZERO_CHAIN_ID=10106
BSCTEST_LAYERZERO_CHAIN_ID=10102
BASE_GOERLI_LAYERZERO_CHAIN_ID=10160
CELOTEST_LAYERZERO_CHAIN_ID=10125

#XCALL ADDRESSES
BSCTEST_XCALL=0x4bf2816025920D4c721888Cf3c23856B42DF69b0
FUJI_XCALL=0xb8baf62BEd55366042c0aF3ed5AE114609bf77AA
BASE_GOERLI_XCALL=0x2Ca03A78001b9c2E18D56Daa27b0A6BB9761eBCD
CELOTEST_XCALL=0x2Ca03A78001b9c2E18D56Daa27b0A6BB9761eBCD
LOCAL_XCALL=0xB7f8BC63BbcaD18155201308C8f3540b07f84F5e
POLYGON_MUMBAI_XCALL=0x2Ca03A78001b9c2E18D56Daa27b0A6BB9761eBCD
CELOTEST_XCALL=


#MOCK DAPP ADDRESSES
BSCTEST_MOCK_DAPP=0x3d5A17C384Ea22373aE053550f24F6c142D1A4d0
FUJI_MOCK_DAPP=0xe3330eb0c2498e21d23a6ca2f7aa75d00a94c653
BASE_GOERLI_MOCK_DAPP=0x103ad18d900290b6575e4af6287a215fe78085fb

# WORMHOLE ADDRESSES
BSCTEST_WORMHOLE_ADAPTER=0xB54B7e5825b52231dA4cd52c49b91949f1002aC0
FUJI_WORMHOLE_ADAPTER=0x965582B1365EECE38CB6862E9818A5fdf422b86A
BASE_GOERLI_WORMHOLE_ADAPTER=0x64FDC0B87019cEeA603f9DD559b9bAd31F1157b8
# CELOTEST_ADAPTER=0x64FDC0B87019cEeA603f9DD559b9bAd31F1157b8

#ETHERSCAN APIS
BSCSCAN_API_KEY=MDBZR5TAPWDJAQD4DA3Q77HYBITBI1UE6P
ETHERSCAN_API_KEY=8VP9SPX7C2UXZWR37WWKJ6SPKSM69VHRX8
BASESCAN_API_KEY=6JVRDVBKVCGAH3PZ4AHMWAVP99B8RITI9W
OPTIMISMSCAN_API_KEY=87KTYBPDE7GWS112X9H73FBRYVBBJZPGIE
ARBITRUMSCAN_API_KEY=ZP4SRGNIXX7PRT8IMT1IQEPV86EX5326Q5
SNOWSCAN_API_KEY=ZKM5XEXV5CDHWD73QMU5IW1KF4F2X87B46
CELOSCAN_API_KEY=83RKDAH8MR5FV5CUXK7HIEH1G3R5ZHI9IA
POLYSCAN_API_KEY=YD3616TF1CD81YRH2J2TBF1SMJE9XJH38R

#LAYERZERO
BSCTEST_LAYERZERO_ADAPTER=0x8e83b1d0a2def6dd3c754a91f8c08cdf8a917f42
FUJI_LAYERZERO_ADAPTER=0xec1837fa2f63a96a28ca7c6436f641fab03dcb75
BASE_GOERLI_LAYERZERO_ADAPTER=0x4b83195D02F58a1Acf8e1A80bEfB28e6a4F54654
CELOTEST_LAYERZERO_ADAPTER=0x885dd30aed3a009C72a8a21F4A23784bF0a41303

#CENTRALIZED_RELAYER
BSCTEST_CENTRALIZED_RELAYER=0xdb21509ea25ef02ca58aba716537b487c13317e4
FUJI_CENTRALIZED_RELAYER=0xdb21509ea25ef02ca58aba716537b487c13317e4
POLYGON_MUMBAI_CENTRALIZED_RELAYER=0xdb21509ea25ef02ca58aba716537b487c13317e4
LOCAL_CENTRALIZED_RELAYER=0xdb21509ea25ef02ca58aba716537b487c13317e4

#CENTRALIZED_ADAPTER
BSCTEST_CENTRALIZED_ADAPTER=
FUJI_CENTRALIZED_ADAPTER=
POLYGON_MUMBAI_CENTRALIZED_ADAPTER=0x64FDC0B87019cEeA603f9DD559b9bAd31F1157b8
LOCAL_CENTRALIZED_ADAPTER=0xCf7Ed3AccA5a467e9e704C703E8D87F634fB0Fc9
