name: Cosmwasm Contracts Test Deployment
on:
  push:
    branches:
      - main
    paths:
      - contracts/cosmwasm-vm/**
      - libraries/common/rust/**
      - .github/workflows/deploy-cosmwasm-contracts.yml
      - scripts/optimize-cosmwasm.sh
      - scripts/archway/**
jobs:
  Build:
    name: Build & Deploy Cosmwasm Contracts
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Start local Archway Blockchain
        run: |
          cp ./scripts/archway/docker_compose_archway.yaml .
          docker compose -f docker_compose_archway.yaml up -d
          docker logs archway-node-1
          docker inspect archway-node-1

      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: 1.78.0
          target: wasm32-unknown-unknown
          override: true
          profile: minimal

      - name: Cache Rust dependencies
        uses: Swatinem/rust-cache@v2

      - name: Compile WASM
        run: |
          rustup component add rustfmt --toolchain 1.78.0-x86_64-unknown-linux-gnu
          rustup component add clippy --toolchain 1.78.0-x86_64-unknown-linux-gnu
          sudo chmod -R 777 artifacts
          sudo chmod -R 777 scripts
          # Build cosmwasm builder image
          bash ./scripts/optimize-cosmwasm.sh


      - name: Deploy WASM
        run: |
          container=$(docker ps --format '{{.Names}}')
          docker exec $container sh -c "rm /contracts/*_latest.wasm;rm /contracts/cw_common*.wasm"
          # cp -r {artifacts,scripts/deploy_cosmwasm.sh} contracts/cosmwasm-vm/archway/contracts
          docker ps -a
          docker exec $container chmod +x /opt/deploy_cosmwasm.sh
          docker exec $container /opt/deploy_cosmwasm.sh
