name: Cosmwasm Contracts Test Deployment
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    paths:
      - contracts/cosmwasm-vm/**
      - .github/workflows/deploy-cosmwasm-contracts.yml
jobs:
  Build:
    name: Build & Deploy Cosmasm Contracts
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3
        with:
          submodules: true

      - name: Start local Archway Blockchain
        run: |
          cd contracts/cosmwasm-vm/archway
          sed -i 's/latest/v0.4.0/' docker-compose.yaml
          docker compose -f docker-compose.yaml up -d
          # git clean submodule directory
          git checkout .
          git clean -fdx

      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: 1.67.0
          target: wasm32-unknown-unknown
          override: true
          profile: minimal

      - name: Cache Rust dependencies
        uses: Swatinem/rust-cache@v2

      - name: Compile WASM
        run: |
          rustup component add rustfmt --toolchain 1.67.0-x86_64-unknown-linux-gnu
          rustup component add clippy --toolchain 1.67.0-x86_64-unknown-linux-gnu
          bash ./optimize_build.sh

      - name: Check WASM Size
        run: |
          max_size=800 
          echo "Check if size of wasm file exceeds $max_size kilobytes..."
          for file in artifacts/*.wasm
          do 
          size=$(du -k "$file" | awk '{print $1}')
          if [[ $size -gt $max_size ]]; then
          echo "Error: $file : $size has exceeded maximum contract size limit of 800KB."
          exit 1
          fi
          echo "$file : $size"
          done
          echo "The size of all contracts is well within the 800 KB limit."

      - name: Deploy WASM
        run: |
          container=$(docker ps --format '{{.Names}}')
          rm -rf artifacts/cw_common.wasm
          cp -r {artifacts,scripts/deploy_cosmwasm.sh} contracts/cosmwasm-vm/archway/contracts
          docker ps -a
          docker exec $container chmod +x /contracts/deploy_cosmwasm.sh
          docker exec $container /contracts/deploy_cosmwasm.sh
