name: Test Java contracts

on:
  pull_request:
    branches:
      - '**'
    paths:
      - 'contracts/javascore/**'
  push:
    branches:
      - main
    paths:
      - 'contracts/javascore/**'

jobs:
  unit-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Run unit tests
        run: cd contracts/javascore && ./gradlew clean build  && ./gradlew optimizedJar
  integration-test:
    needs: unit-test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: true
      - name: install docker-compose
        run: |
          sudo curl -L "https://github.com/docker/compose/releases/download/v2.29.0/docker-compose-linux-x86_64" -o /usr/local/bin/docker-compose
          sudo chmod +x /usr/local/bin/docker-compose
          
      - name: Start local Blockchain
        run: docker logout public.ecr.aws && cd contracts/javascore/gochain-btp && make run

      - name: Check if all contracts are deployable
        run: cd contracts/javascore && ./gradlew clean build && ./gradlew optimizedJar && ./gradlew deployToLocal -PdeploymentENV=local

      - name: Run integration tests
        run: cd contracts/javascore && ./gradlew integrationTest
