name: Pre-release
on:
  push:
    branches:
      - "**"
    # tags:
    #   - 'v*.*.*-alpha.*'
permissions:
  contents: write
  packages: write
  repository-projects: write

jobs:
  build_javascore:
    name: Build Javascore Contracts
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          submodules: true

      - name: Build Javascore Contracts
        working-directory: contracts/javascore
        run: |
          ./gradlew clean build
          ./gradlew optimizedJar
          ./gradlew zipOutputOptimizedJars
 
  build_wasm:
    name: Build Cosmwasm Contracts
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3
        with:
          submodules: true
      # - name: Install stable toolchain
      #   uses: actions-rs/toolchain@v1
      #   with:
      #     toolchain: 1.69.0
      #     target: wasm32-unknown-unknown
      #     override: true
      #     profile: minimal
      # - name: Cache Rust dependencies
      #   uses: Swatinem/rust-cache@v2
      # - name: Compile WASM
      #   run: |
      #     rustup component add rustfmt --toolchain 1.69.0-x86_64-unknown-linux-gnu
      #     rustup component add clippy --toolchain 1.69.0-x86_64-unknown-linux-gnu     
      #     bash ./scripts/optimize-cosmwasm.sh "release"
          
      - name: Upload Artifacts
        uses: actions/upload-artifact@v3
        with:
          name: artifacts
          path: |
            ./contracts/javascore/build/javascore-contracts.zip
            ./artifacts/archway/cosmwasm-contracts.zip
  release:
    name: Release and Publish
    runs-on: ubuntu-latest
    needs:
      - build_javascore
      - build_wasm
    steps:
      - name: Initialize variables
        id: vars
        run: |
          echo «::set-output name=date::$(date +'%Y-%m-%d')»
          echo «::set-output name=sha8::$(echo ${GITHUB_SHA} | cut -c1-8)»

      - name: Download Artifacts
        uses: actions/download-artifact@v2
        with:
          name: artifacts
          path: release-artifacts

      - name: Generate Checksum
        run: |
            cd release-artifacts
            find ./ -type f
            unzip javascore-contracts.zip; unzip cosmwasm-contracts.zip; rm -rf *.zip; sha256sum * > sha256sum.txt
            
      - name: Changelog
        uses: scottbrenner/generate-changelog-action@master
        id: Changelog
        env:
          REPO: ${{ github.repository }}

      # - name: Create Release
      #   id: create_release
      #   uses: actions/create-release@v1
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.RELEASE_TOKEN }}
      #   with:
      #     tag_name: ${{ github.ref }}
      #     release_name: Prerelease ${{ github.ref }}
      #     body: |
      #       ${{ steps.Changelog.outputs.changelog }}
      #     draft: false
      #     prerelease: true

      # - name: Upload Javascore contracts to release
      #   uses: svenstaro/upload-release-action@v2
      #   with:
      #     repo_token: ${{ secrets.GITHUB_TOKEN }}
      #     file: ./release-artifacts/*
      #     tag: ${{ github.ref }}
      #     overwrite: true
      #     file_glob: true
      
