on:
  workflow_call:
    inputs:
      relayer_version:
        description: "Relayer version"
        type: string
    outputs:
      label:
        description: "Label of the self-hosted runner"
        value: ${{ jobs.runner-start.outputs.label }}
      ec2-instance-id:
        description: "ID of the EC2 instance"
        value: ${{ jobs.runner-start.outputs.ec2-instance-id }}
jobs:
  runner-start:
    name: Start runner
    runs-on: ubuntu-latest
    outputs:
      label: ${{ steps.start.outputs.label }}
      ec2-instance-id: ${{ steps.start.outputs.ec2-instance-id }}
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v3
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_DEFAULT_REGION }}
      - name: Get aws ami id built by packer
        id: ami-id
        run: |
          ami_id=$(aws ec2 describe-images \
            --filters "Name=tag:Name,Values=github-runner" "Name=tag:Project,Values=IBC" "Name=tag:ManagedBy,Values=Packer" \
            --query 'Images[*].[ImageId]' \
            --output text --max-items 1)
          echo "AMI_ID=$ami_id" >> $GITHUB_OUTPUT
      - uses: actions/checkout@v3
      - id: relay
        uses: pozetroninc/github-action-get-latest-release@master
        with:
          repository: icon-project/ibc-relay
      - name: Start EC2 instance
        id: start
        uses: machulav/ec2-github-runner
        with:
          mode: start
          github-token: ${{ secrets.GH_RUNNER_PAT }}
          ec2-image-id: ${{ steps.ami-id.outputs.AMI_ID }}
          ec2-instance-type: c5.2xlarge
          subnet-id: subnet-f1fcd4df
          security-group-id: sg-03cb8034e27e1caeb
          pre-runner-script: |
            ./build.sh ${{ inputs.relayer_version == '' && steps.relay.outputs.release || inputs.relayer_version }}